<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/CPSC481DataModel.csdl|res://*/CPSC481DataModel.ssdl|res://*/CPSC481DataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>